

//colors
$greenPrimary : #00735c;
$greenDark: #00211A;
$greenLigth: #2AB79B;
$greyDark: #333333;
$black: #141414;
$white: rgb(227, 255, 251);

//font size
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900;

//font family
$fa-font-path: "../Font";

$titles: 'Montserrat', sans-serif;
$text: 'Roboto', sans-serif;